{% extends 'app/layout.html' %}

{% block title %}買ったもの{% endblock %}

{% block header %}
<h1>Cart</h1>
<p class="message_public">合計金額：{{ sum }}円</p>

{% endblock %}

{% block content %}
{% csrf_token %}
<table>
    <tr>
        <th>グループ</th>
        <th>名前</th>
        <th>個数</th>
        <th>誰の</th>
        <th>単価</th>
        <th>（備考）</th>
        <th>修正</th>
        <th>削除</th>

    </tr>
{% for good in goods %}
    <tr>
        <td>{{ good.message.group.title }}</td>
        <td>{{ good.message.content }}</td>
        <td>{{ good.count }}</td>
        <td>{{ good.whose }}</td>
        <td>{{ good.message.price }}</td>
        <td>{{ good.comment }}</td>
        {% if d >= 0 %}
        <td> <a href="{% url 'goodedit' message_id=good.message.id good_id=good.id %}"><button>edit</button></a></td>
        <td> <a href="{% url 'gooddelete' message_id=good.message.id good_id=good.id %}"><button>delete</button></a></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
</form>
{% endblock %}